/* Defaults */
body { font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 24px; overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 { font-family: 'Playfair Display', serif; }

h1 { font-size: 48px; line-height: 56px; margin-bottom: 40px; }
h2 { font-size: 40px; line-height: 48px; margin-bottom: 30px; }
h3 { font-size: 32px; line-height: 40px; margin-bottom: 20px; }
h4 { font-size: 24px; line-height: 32px; margin-bottom: 20px; }
h5 { font-size: 16px; line-height: 24px; margin-bottom: 0; }
p  { font-size: 16px; line-height: 24px; margin-bottom: 20px; }
li { font-size: 16px; line-height: 24px; }

a { color: #000000; transition: all 0.3s; text-decoration: none; }
a img { transition: all 0.3s; }
a:hover { text-decoration: none; color: #666666; }

hr {}
blockquote {}
strong {}
svg { height: 100%; width: 100%; }
table { width: 100%; }
section { padding: 100px 20px; }

/* General */
.hidden { display: none !important; z-index: -1000 !important; }
.required { color: red; font-weight: bold; }
.full-width { width: 100%; }
.section-title { border-bottom: 1px solid #F1F1F1; margin-bottom: 30px; }

/* Background Colors */
.bg-shade	{ background-color: #F1F1F1 !important; color: #000000 !important; }
.bg-maroon	{ background-color: #8b0f4b !important; }

/* Line Heights */
.lh-1 { line-height: 1; }
.lh-2 { line-height: 2; }
.lh-3 { line-height: 3; }
.lh-4 { line-height: 4; }
.lh-5 { line-height: 5; }

/* Font Colors */
.fc-black	{ color: #000000; }
.fc-maroon	{ color: #8b0f4b; }

/* Header */
header { padding: 0 20px; position: fixed; background-color: #FFFFFF; width: 100%; }
header { z-index: 100; box-shadow: 0 0 10px 5px rgba(0,0,0,0.1); top: 0; }
header .header-top { border-bottom: 1px solid #F1F1F1; padding-top: 30px; padding-bottom: 30px; transition: ease all 0.3s; }
header .header-top .list-contact { display: flex; list-style: none; height: 100%; align-items: center; margin-bottom: 0; }
header .header-top .list-contact li { flex: 1 0 0%; display: inline-block; color: #8b0f4b; border: 0; margin: 0; padding: 0; }
header .header-top .list-contact li i { float: left; font-size: 48px; margin-right: 10px; }
header .header-top .list-contact li p { margin-bottom: 0; font-size: 14px; color: #777777; }
header.append .header-top { padding-top: 15px; padding-bottom: 15px; }

header.for-mobile { padding: 0; }
header.for-mobile .header-top { padding-top: 20px; padding-bottom: 20px; }
header.for-mobile .header-bot { padding: 15px 0; }
header.for-mobile .header-bot .col-logo { width: calc(100% - 50px); display: inline-block; }
header.for-mobile .header-bot .col-menu { width: 40px; display: inline-block; }
body.modal-open header.for-mobile .header-bot .col-logo { width: calc(100% - 67px); }

header.for-mobile .list-contact { padding-left: 0; display: block; }
header.for-mobile .list-contact li { margin-right: 40px; }
header.for-mobile .list-contact li i { float: none; font-size: 16px; margin-right: 10px; }

header .menu-link { border: 1px solid #8b0f4b; height: 40px; width: 40px; line-height: 40px; }
header .menu-link { display: block; text-align: center; border-radius: 3px; color: #8b0f4b; }
header .menu-link:hover { background-color: #8b0f4b; color: #FFFFFF; cursor: pointer; }

header .list-menu { margin: 0; padding: 0; }
header .list-menu li { display: inline-block; font-weight: 500; position: relative; }
header .list-menu li a { display: block; padding: 20px; }
header .list-menu li:after { transition: ease 0.3s all; background-color: #8b0f4b; }
header .list-menu li:after { position: absolute; height: 1px; top: -1px; left: 0; width: 0; content: ""; }
header .list-menu li.active:after,
header .list-menu li:hover:after { width: 100%; }
header .list-menu .list-menu-special { width: 100%; text-align: center; }
header .list-menu .list-menu-special a { background-color: #8b0f4b; color: #FFFFFF; }

/* Modal Menu */
.modal.modal-menu .modal-dialog { transform: translate(-50px,0); margin: 0; height: 100%; width: 100%; max-width: 400px; }
.modal.modal-menu .modal-dialog .modal-content { height: 100%; }
.modal.modal-menu .modal-footer { justify-content: flex-start; }
.modal.modal-menu.show .modal-dialog { transform: none; }

.modal.modal-menu .list-menu { list-style: none; margin: 0; padding: 0; }
.modal.modal-menu .list-menu li { border-bottom: 1px solid #F1F1F1; position: relative; }
.modal.modal-menu .list-menu li a { padding: 10px 0; display: block; transition: ease all 0.3s; }
.modal.modal-menu .list-menu li a:hover { text-indent: 10px; }
.modal.modal-menu .list-menu li:after { position: absolute; content: ""; height: 1px; bottom: -1px; left: 0; }
.modal.modal-menu .list-menu li:after { background-color: #8b0f4b; transition: 0.3s ease all; width: 0; }
.modal.modal-menu .list-menu li:hover:after { width: 100%; }

/* Slider */
.slider { padding: 180px 0 0; }
.slider .carousel-item { background-position: center center; background-size: cover; height: calc(100vh - 180px); width: 100%; }
.slider .carousel-item:after { content: ""; height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 1; }
.slider .carousel-item:after { background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); }
.slider .carousel-content { position: relative; z-index: 10; }
.slider .carousel-content h1 { font-size: 72px; line-height: 72px; color: #8b0f4b; }
.slider .carousel-content p { font-size: 20px; line-height: 36px; }

/* Slider: Banner */
.slider-banner .carousel-item { height: calc(560px - 180px); }
.slider-banner .carousel-content h1 { margin-bottom: 10px; }
.slider-banner .carousel-content p { margin-bottom: 0; }

/* Find A Doctor */
section.find-a-doctor { padding-top: 0; }
section.find-a-doctor .container { border-bottom: 1px solid #F1F1F1; }
section.find-a-doctor .widget-title { background-color: #8b0f4b; color: #FFFFFF; text-align: center; padding: 40px 20px; }
section.find-a-doctor .btn { width: 100%; border-radius: 3px; }

/* Blog */
.blog { padding-top: 80px; padding-bottom: 40px; background: #fcfcfc; border-top: 1px solid #f0f0f0; }
.blog { border-bottom: 1px solid #f0f0f0; position: relative; overflow: hidden; }

.single-blog-item { position: relative; overflow: hidden; display: block; border-bottom: 1px solid #f4f4f4; }
.single-blog-item { background: #ffffff; padding: 19px; padding-bottom: 18px; border: 1px solid #f0f0f0; margin-bottom: 40px; }
.single-blog-item .img-holder { overflow: hidden; position: relative; }
.single-blog-item .img-holder img { transform: scale(1.1, 1.1); transition: all 0.5s ease 0s; width: 100%; }
.single-blog-item .img-holder .overlay-style-one { transition: all 500ms ease; }
.single-blog-item .img-holder .overlay-style-one .content a { width: 30px; height: 30px; display: inline-block; }
.single-blog-item .img-holder .overlay-style-one .content a i { display: block; color: #FFFFFF; transition: 0.3s all ease; }
.single-blog-item .img-holder .overlay-style-one .content a:hover i { opacity: 0.5; }

.single-blog-item:hover .img-holder .overlay-style-one { filter: alpha(opacity=100); opacity: 1; top: 0; }
.single-blog-item:hover .img-holder img { transform: scale(1, 1); }

.single-blog-item .text-holder { transition: all 500ms ease; }
.single-blog-item .text-holder .text { border-bottom: 1px solid #f0f0f0; padding-bottom: 15px; display: block; }
.single-blog-item .text-holder .text p { margin-bottom: 0; }
.single-blog-item .text-holder .blog-title { font-size: 24px; font-weight: 400; padding: 20px 0 0; line-height: 30px; }
.single-blog-item .text-holder .blog-title { display: block; transition: all 500ms ease; }
.single-blog-item .text-holder .blog-title:hover { color: #8b0f4b; }
.single-blog-item .text-holder .meta-info { overflow: hidden; padding: 20px 0 0; }
.single-blog-item .text-holder .meta-info li { display: inline-block; float: left; line-height: 18px; margin-right: 20px; }
.single-blog-item .text-holder .meta-info li:last-child { margin-right: 0; }
.single-blog-item .text-holder .meta-info li a { color: #8b0f4b; font-size: 14px; font-weight: 400; }
.single-blog-item .text-holder .meta-info li a:hover { color: #000000; }
.single-blog-item .text-holder .meta-info li a i { display: inline-block; padding-right: 10px; }

/* Doctors */
section.doctors { background: #8b0f4b; padding-top: 80px; padding-bottom: 50px }
section.doctors .section-title { color: #FFFFFF; border-color: #6b0830; }
section.doctors .section-title .btn-primary { border-color: #FFFFFF; }
section.doctors .section-title .btn-primary:hover { border-color: #6b0830; background-color: #6b0830; }

.deck-doctors .card-doctor { position: relative; margin-bottom: 35px; }
.deck-doctors .card-doctor .img-holder { position: relative; display: block; overflow: hidden; }
.deck-doctors .card-doctor .img-holder img { transition: all 0.5s ease 0s; width: 100%; }
.deck-doctors .card-doctor .img-holder .overlay-style { background-color: rgba(139, 15, 75, .8); transition: background-color 0.4s ease 0s; padding: 0 20px; }
.deck-doctors .card-doctor .img-holder .overlay-style { bottom: 0; left: 0; overflow: hidden; position: absolute; right: 0; top: 0; filter: alpha(opacity=0); }
.deck-doctors .card-doctor .img-holder .overlay-style { transform: translate3d(0px, -100%, 0px); transition: all .9s ease; transition-delay: .5s;  }
.deck-doctors .card-doctor .img-holder .overlay-style .box { display: table; width: 100%; height: 100%; }
.deck-doctors .card-doctor .img-holder .overlay-style .box .content { display: table-cell; vertical-align: middle; text-align: left; }
.deck-doctors .card-doctor .img-holder .overlay-style .box .content .top { position: relative; right: 100%; transition: all .9s ease; }
.deck-doctors .card-doctor .img-holder .overlay-style .box .content .top h4 { color: #FFFFFF; margin: 0 0 3px; }
.deck-doctors .card-doctor .img-holder .overlay-style .box .content .top span { color: #fcfcfc; }
.deck-doctors .card-doctor .img-holder .overlay-style .box .content .border { display: block; height: 1px; width: 50px; background: #ffffff; margin: 11px 0 21px; }
.deck-doctors .card-doctor .img-holder .overlay-style .box .content .bottom { position: relative; left: 100%; transition: all .9s ease; }
.deck-doctors .card-doctor .img-holder .overlay-style .box .content .bottom ul li { color: #ffffff; line-height: 32px; }
.deck-doctors .card-doctor .img-holder .overlay-style .box .content .bottom ul li i { display: inline-block; padding-right: 8px; }

.deck-doctors .card-doctor .text-holder { background-color: rgba(255, 255, 255, 0.8); padding-top: 18px; padding-bottom: 12px; text-align: center; padding-left: 20px; }
.deck-doctors .card-doctor .text-holder { padding-right: 20px; transform: translate3d(0px, 0%, 0px); transition: all .9s ease; transition-delay: 0.10s; }
.deck-doctors .card-doctor .text-holder { border: 1px solid #f5f2f2; border-top: none; position: absolute; bottom: 0; left: 0; width: 100%; height: auto; }
.deck-doctors .card-doctor .text-holder h3 { color: #222222; font-size: 20px; text-transform: none; margin: 0 0 3px; line-height: 28px; }
.deck-doctors .card-doctor .text-holder span { color: #8b0f4b; }

.deck-doctors .card-doctor.active .text-holder,
.deck-doctors .card-doctor:hover .text-holder { transform: translate3d(0px, 120%, 0px); opacity: 0; }
.deck-doctors .card-doctor.active .img-holder .overlay-style,
.deck-doctors .card-doctor:hover .img-holder .overlay-style { transform: translate3d(0px, 0%, 0px); }
.deck-doctors .card-doctor.active .img-holder .overlay-style .box .content .top,
.deck-doctors .card-doctor:hover .img-holder .overlay-style .box .content .top { right: 0%; color: #FFFFFF; }
.deck-doctors .card-doctor.active .img-holder .overlay-style .box .content .bottom,
.deck-doctors .card-doctor:hover .img-holder .overlay-style .box .content .bottom { left: 0%; }

.deck-doctors .card-doctor .img-holder .overlay-style .box .content { flex-direction: row; align-content: space-between; flex-wrap: wrap; }
.deck-doctors .card-doctor .img-holder .overlay-style .box .content { padding-top: 20px; padding-bottom: 20px; display: inline-flex; }
.deck-doctors .card-doctor .img-holder .overlay-style .box .content > div { display: block; }
.deck-doctors .card-doctor .img-holder .overlay-style .box .content .button { align-self: baseline; }
.deck-doctors .card-doctor .img-holder .overlay-style .box .content .button .btn-primary { border-color: #FFFFFF; }

/* Departments */
.medical-departments { padding-top: 80px; padding-bottom: 80px; background: #ffffff; position: relative; overflow: hidden; }
.medical-departments button { position: absolute; transform: translate(0, -50%); top: 50%; z-index: 1; transition: ease 0.3s all; }
.medical-departments button { width: 40px; height: 40px; background-color: #FFFFFF; border: 1px solid #F1F1F1; }
.medical-departments button:hover { background-color: #8b0f4b; border-color: #8b0f4b; color: #FFFFFF;}
.medical-departments .slick-prev.slick-arrow { left: -20px; }
.medical-departments .slick-next.slick-arrow { right: -20px; }

.specialization .single-item { position: relative; overflow: hidden; display: block; border: 1px solid #f0f0f0; padding: 9px 9px 10px; margin-bottom: 30px; }
.specialization .single-item .icon-holder { position: relative; background: #fcfcfc; display: block; padding: 25px 0 25px; z-index: 1; }
.specialization .single-item .icon-holder:after { position: absolute; z-index: -1; top: 0; left: 0; right: 0; background: #8b0f4b; content: ""; }
.specialization .single-item .icon-holder:after { bottom: 0; width: 100%; height: 0%; transition: all 500ms ease; transition-delay: 0.10s; }
.specialization .single-item .icon-holder i:before { color: #8b0f4b; font-size: 50px; line-height: 50px; }
.specialization .single-item .icon-holder i:before { transition: all 500ms ease; transition-delay: 0.50s; }
.specialization .single-item .icon-holder img { width: 60px; height: 60px; position: relative; z-index: 1; transition: all 0.3s ease; }

.specialization .single-item .text-holder { display: block; padding: 29px 10px 36px; border-bottom: 1px solid #f0f0f0; }
.specialization .single-item .text-holder { margin-left: -9px; margin-right: -9px; }
.specialization .single-item .text-holder h4 { margin: 0 0 13px; }
.specialization .single-item .text-holder p { margin: 0; }

.specialization .single-item a.readmore { border: 1px solid #8b0f4b; color: #FFFFFF; font-size: 14px; }
.specialization .single-item a.readmore { display: inline-block; padding: 6px 25px 4px; border-radius: 20px; position: relative; }
.specialization .single-item a.readmore { top: -20px; background: #8b0f4b; transition: all 500ms ease; }
.specialization .single-item a.readmore:hover { background-color: #FFFFFF; border-color: #8b0f4b; color: #8b0f4b; }

.specialization .single-item:hover .icon-holder img { filter: grayscale(1) brightness(100); }
.specialization .single-item:hover .icon-holder:after { height: 100%; }
.specialization .single-item:hover .icon-holder i:before { color: #ffffff; }

/* Services */
section.services { background: #fcfcfc; padding-top: 80px; padding-bottom: 80px; border-bottom: 1px solid #f0f0f0; border-top: 1px solid #f0f0f0; }
section.services .img-holder { position: relative; overflow: hidden; display: block; }
section.services .img-holder img { width: 100%; }
section.services .img-holder .overlay-content { position: absolute; left: 10px; right: 10px; bottom: 10px; height: auto; }
section.services .img-holder .overlay-content { display: block; padding: 35px 30px 35px; background: #8b0f4b; }
section.services .img-holder .overlay-content p { color: #ffffff; margin: 0; }

section.services .tab-content .inner-content { border-bottom: 1px solid #f0f0f0; padding-bottom: 50px; margin-bottom: 30px; transition: all 500ms ease; }
section.services .tab-content .inner-content .img-box { margin-bottom: 20px; }
section.services .tab-content .inner-content .text-box h3 { color: #8b0f4b; margin: 0 0 18px; }

section.services .tab-menu { border-bottom: none; }
section.services .tab-menu li { float: left; margin-right: 30px; text-align: center; margin-bottom: 20px; width: 18%; cursor: pointer; }
section.services .tab-menu li h3 { font-size: 16px; margin: 15px 0 0; line-height: 24px !important; }
section.services .tab-menu li a { position: relative; margin-right: 0px; line-height: initial; border: none; border-radius: 0; padding: 0; }
section.services .tab-menu li a .img-holder { display: block; overflow: hidden; position: relative; }
section.services .tab-menu li a .img-holder img { transform: scale(1.1, 1.1); transition: all .9s ease; width: 100%; }
section.services .tab-menu li a .img-holder .overlay-style-one { transition: all 500ms ease;  }
section.services .tab-menu li a .img-holder .overlay-style-one .iocn-holder span:before { font-size: 25px; font-weight: 100; color: #ffffff; }
section.services .tab-menu li:last-child { margin-right: 0px; }
section.services .tab-menu li:hover a .img-holder img { transform: scale(1.2, 1.2); }

section.services .tab-menu li.active a .img-holder .overlay-style-one,
section.services .tab-menu li:hover a .img-holder .overlay-style-one { filter: alpha(opacity=100); opacity: 1; top: 0; }
section.services .tab-menu li.active a, 
section.services .tab-menu li.active a:hover { color: #555; cursor: default; background-color: #FFFFFF; border: none; border-bottom-color: none; }

/* Overlay styles  */
.overlay-style-one { -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); }
.overlay-style-one { filter: alpha(opacity=0); opacity: 0; position: absolute; height: 100%; width: 100%; }
.overlay-style-one { top: 100%; background: rgba(139, 15, 75, .8); color: #FFFFFF; transition: all .9s ease; }
.overlay-style-one .box { display: table; height: 100%; width: 100%; }
.overlay-style-one .box .content { display: table-cell; text-align: center; vertical-align: middle; }

/* Facebook Feed */
.facebook-feed a { color: #041783; }
.facebook-avatar { border-radius: 50%; height: 50px; width: 50px; float: left; margin-right: 10px; }

/* block-fullwidth */
.block-fullwidth { background-color: #8b0f4b; color: #FFFFFF; padding-top: 50px; padding-bottom: 50px; }
.block-fullwidth h5 { font-family: 'Roboto', sans-serif; }
.block-fullwidth i { color: #FFFFFF !important; }

/* Accredited HMO */
.list-logos { list-style: none; margin: 0; padding: 0; text-align: center; }
.list-logos li { display: inline-block; width: 18%; margin: 10px; }
.list-logos li a img { filter: grayscale(1); opacity: 0.5; transition: ease 0.3s all; }
.list-logos li a.active img,
.list-logos li a:hover img { filter: grayscale(0); opacity: 1; }

/* Loader */
.no-js #loader { display: none;  }
   .js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 9999; }
.se-pre-con { display: flex; justify-content: center; align-items: center; background-color: #FFFFFF; }
.se-pre-con img { height: 100px; width: 100px; }

/* Utilities */
.utilities { position: fixed; right: -70px; bottom: 30px; z-index: 100; transition: all 0.3s; }
.utilities .btn { border: 0; background: #6b0830 !important; color: #FFF !important; border-radius: 50%; }
.utilities .btn { width: 50px; height: 50px; display: flex; padding: 0; text-align: center; opacity: 0.5; }
.utilities .btn { box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2); align-items: center; justify-content: center; }
.utilities .btn:hover { opacity: 1; animation: beating 2s infinite; }
.utilities > div { margin-top: 10px; }
.utilities.show { right: 30px; }

/* Post Pagination */
.post-pagination li { display: inline-block; margin: 0 3px; }
.post-pagination li a { background: #FFFFFF none repeat scroll 0 0; border: 2px solid #f0f0f0; }
.post-pagination li a { color: #222222; display: block; font-size: 20px; font-weight: 500; height: 55px; }
.post-pagination li a { padding: 14px 0; transition: all 500ms ease 0s; width: 55px; border-radius: 50%; }
.post-pagination li.active a,
.post-pagination li:hover a { background: #8b0f4b; color: #FFFFFF; border: 2px solid #8b0f4b; }

/* Sidebar */
.sidebar { border-left: 1px solid #f4f4f4; padding-left: 30px; }
.sidebar { position: relative; display: block; overflow: hidden; }
.sidebar .widget { overflow: hidden; margin-bottom: 50px; position: relative; }
.sidebar .widget ul { list-style: none; margin: 0 0 30px; padding: 0; }

/* Widget: Search Form */
.sidebar .widget .search-form { position: relative }
.sidebar .widget .search-form button { background-color: #8b0f4b; color: #FFFFFF; display: block; height: 50px; padding: 12px 0; border: 1px solid #8b0f4b; }
.sidebar .widget .search-form button { position: absolute; right: 0; text-align: center; top: 0; transition: all 500ms ease 0s; width: 50px; }
.sidebar .widget .search-form button i { font-size: 14px }
.sidebar .widget .search-form input[type="text"] { background: #FFFFFF; border: 1px solid #f4f4f4; color: #ababab; transition: all 500ms ease 0s; width: 100%; }
.sidebar .widget .search-form input[type="text"] { display: block; height: 50px; padding-left: 15px; padding-right: 55px; position: relative; }
.sidebar .widget .search-form input[type="text"]:focus { border: 1px solid #8b0f4b !important; background: #fff; color: #000; outline: 0; }
.sidebar .widget .search-form input[type="text"]:focus + button, 
.sidebar .widget .search-form button:hover { background-color: #FFFFFF; color: #8b0f4b; }

/* Widget: Categories */
.widget ul.categories { background: #ffffff; display: block; border: 1px solid #f5f4f3; padding: 24px 30px 24px; }
.widget ul.categories li { border-bottom: 1px solid #ededed; margin-bottom: 12px; padding-bottom: 9px; }
.widget ul.categories li:last-child { margin-bottom: 0; padding-bottom: 0; border-bottom: none; }
.widget ul.categories li a { color: #848484; transition: all 500ms ease; position: relative; }
.widget ul.categories li a span { float: right; }
.widget ul.categories li a:hover { color: #8b0f4b; }

/* Widget: Popular Posts */
.widget .popular-post li { margin-bottom: 25px; padding-left: 70px; position: relative; border-bottom: 1px solid #f4f4f4; padding-bottom: 25px; }
.widget .popular-post li:last-child { margin-bottom: 0; padding-bottom: 0; border-bottom: none; }
.widget .popular-post li .img-holder { display: block; left: 0; overflow: hidden; position: absolute; top: 0px; width: 70px; height: 70px; }
.widget .popular-post li .img-holder img { transition: all 0.7s ease; width: 200%; transform: translate(-50% -50%); top: 50%; left: 50%; }
.widget .popular-post li .img-holder .overlay-style-one .box .content a i { color: #FFFFFF; transition: all 500ms ease; }
.widget .popular-post li .img-holder .overlay-style-one .box .content a:hover i { color: #ffffff; }
.widget .popular-post li .title-holder { padding-left: 20px; }
.widget .popular-post li .title-holder a .post-title { color: #222222; position: relative; margin: 0 0 2px; transition: all 500ms ease; top: -5px; }
.widget .popular-post li .title-holder a:hover .post-title { color: #8b0f4b; }
.widget .popular-post li .title-holder .post-date { color: #8b0f4b; display: block; transition: all 500ms ease; font-size: 14px; margin-bottom: 0; }
.widget .popular-post li:hover .img-holder .overlay-style-one { filter: alpha(opacity=100); opacity: 1; top: 0; }
.widget .popular-post li:hover .img-holder img { transform: scale(1.1); }

/* Widget: Follow Us */
.widget .follow-us { color: #ababab; font-size: 14px; margin-top: 0px; }

/* Widget: Instagram */
.widget .instagram { overflow: hidden; display: block; margin-left: -6px; margin-right: -6px; }
.widget .instagram li { display: inline-block; float: left;margin: 0 5px 10px; }
.widget .instagram li .img-holder { overflow: hidden; position: relative; display: block; }
.widget .instagram li .img-holder img { transform: scale(1.1, 1.1); transition: all 0.5s ease 0s; width: 100%; }
.widget .instagram li .img-holder .overlay-style-one .box .content a i { color: #FFFFFF; font-size: 15px; }
.widget .instagram li:hover .img-holder .overlay-style-one { filter: alpha(opacity=100); opacity: 1; top: 0;  }
.widget .instagram li:hover .img-holder img { transform: scale(1, 1); }

/* Widget: Popular Tag */
.widget .popular-tag { margin-left: -3px; margin-right: -3px; margin-top: -5px; }
.widget .popular-tag li { display: inline-block; margin: 0 3px 10px; }
.widget .popular-tag li a { border: 1px solid #f4f4f4; color: #888888; display: block; font-size: 14px; font-weight: 400; }
.widget .popular-tag li a { padding: 4px 12px 4px; transition: all 500ms ease 0s; }
.widget .popular-tag li a:hover { background: #8b0f4b; border-color: #8b0f4b; color: #FFFFFF; }

/* Widget */
.widget .card-header { background-color: #8b0f4b; color: #FFFFFF; padding: 15px 25px; }

/* Single Blog */
.blog-single .add-comment { overflow: hidden; }
.blog-single .add-comment .add-rating { padding-bottom: 20px; }
.blog-single .add-comment .add-rating h4 { color: #9a9a9a; font-size: 16px; font-weight: 300; margin: 0 0 12px; }
.blog-single .add-comment .add-rating ul {}
.blog-single .add-comment .add-rating ul li { border-right: 1px solid #ebebeb; display: inline-block; line-height: 20px; margin-right: 6px; padding-right: 10px; }
.blog-single .add-comment .add-rating ul li:last-child { border-right: none; margin-right: 0; padding-right: 0; }
.blog-single .add-comment .add-rating ul li a i { color: #d6d6d6; font-size: 12px; }
.blog-single .add-comment .add-rating ul li a:hover i { color: #8b0f4b; transition: all 500ms ease; }

.form-section .field-label { color: #848484; display: block; font-size: 16px; font-weight: 400; padding: 0 0 2px; }
.form-section input[type="text"],
.form-section input[type="email"],
.form-section textarea { background: #f7f7f7 none repeat scroll 0 0; border: 1px solid transparent; display: block; }
.form-section input[type="text"],
.form-section input[type="email"],
.form-section textarea { width: 100%; font-size: 16px; font-weight: 400; height: 50px; padding: 0 15px; outline: none; }
.form-section textarea { width: 100%;  margin-bottom: 12px; transition: all 500ms ease; outline: none; }
.form-section textarea { height: 100px; padding: 10px 15px; margin-bottom: 30px; transition: all 500ms ease; }
.form-section input[type="text"]:focus { border-color: #8b0f4b; }
.form-section input[type="email"]:focus { border-color: #8b0f4b; }
.form-section textarea:focus { border-color: #8b0f4b;  }
.form-section button { padding: 11px 30px 9px; }

/* List: Contact */
.list-contact { list-style: none; height: 100%; align-items: center; margin-bottom: 0 !important; }
.list-contact li { border-bottom: 1px solid #F1F1F1; padding-bottom: 15px; margin-bottom: 15px; }
.list-contact li:last-child { border-bottom: 0; margin-bottom: 0; }
.list-contact li i { display: inline-block; width: 40px; font-size: 24px; margin-top: 5px; vertical-align: top; color: #8b0f4b; }
.list-contact li span { display: inline-block; width: calc(100% - 50px); }
.list-contact li p { margin-bottom: 0; font-size: 14px; }
.list-contact li a:hover { color: #FFFFFF; opacity: 0.8; }

/* List: Social Media */
.list-social li { display: inline-block; margin: 0 5px; border: 0; padding-bottom: 0; }
.list-social li a { height: 40px; width: 40px; display: block; text-align: center; line-height: 40px; }
.list-social li a { border-radius: 50px; background-color: #6b0830; transition: ease 0.3s all; }
.list-social li a { display: flex; align-items: center; justify-content: center; }
.list-social li a i { transition: ease 0.3s all; transform: rotate(0deg); color: #FFFFFF; font-size: 16px; margin: 0; }
.list-social li a:hover { background-color: #8b0f4b; }
.list-social li a:hover i { transition: ease 0.3s all; transform: rotate(360deg); color: #FFFFFF; }

/* List: Links */
.list-links li { position: relative; transition: 0.3s all ease; padding: 15px 25px; }
.list-links li a { display: block; }
.list-links li.active { background-color: #FFFFFF; border-color: rgba(0,0,0,.125); }
.list-links li.active a,
.list-links li a:hover { display: block; color: #8b0f4b; }
.list-links li:before { content: "→"; position: absolute; left: 0; opacity: 0; transition: 0.3s all ease; }
.list-links li.active,
.list-links li:hover { padding-left: 40px; }
.list-links li.active:before,
.list-links li:hover:before { left: 20px; opacity: 1; color: #8b0f4b; }

.map-holder { padding: 0; height: 560px; width: 100%; }
.map-holder iframe { border: 0; width: 100%; height: 100%; }

/* Footer */
footer { background-color: #8b0f4b; color: #FFFFFF; }
footer a { color: #FFFFFF; }
footer .logo { margin-bottom: 30px; }
footer .widget { margin-bottom: 30px; }
footer .widget-title { position: relative; display: block; margin-bottom: 30px; }
footer .widget-title:after { display: block; content: ""; height: 2px; background-color: #FFFFFF; width: 80px; margin-top: 15px; }
footer .kneeler { padding: 50px 20px; }
footer .list-contact li { border-color: 1px solid #6b0830; }
footer .list-contact li i { color: #FFFFFF; }

footer .copyright { padding: 20px; background-color: #6b0830; }
footer .copyright p { margin-bottom: 0; }
footer .copyright .list-social { margin: 0; padding: 0; text-align: right; }

footer .newsletter .btn-primary { border-color: #FFFFFF; padding-left: 50px; padding-right: 50px; }
footer .newsletter .btn-primary:hover { background-color: #6b0830; border-color: #6b0830; }
footer .newsletter .form-control { border-color: #6b0830; background-color: #6b0830; color: #FFFFFF; }
footer .newsletter .form-control::placeholder { color: #FFFFFF; }
footer .newsletter .input-group-text { border-color: #6b0830; background-color: #6b0830; color: #FFFFFF; }

footer .widget-about p { font-size: 14px; line-height: 28px; }

/* Card: Comments */
.card-comment { display: block; }
.card-comment div { display: inline-block; }
.card-comment .icon-holder { width: 50px; vertical-align: top; margin-top: 5px; }
.card-comment .icon-holder i { font-size: 32px; color: #8b0f4b; }
.card-comment .text-holder { width: calc(100% - 60px); }

.deck-window .card-item { border-bottom: none; }
.deck-window .card-item > div { text-align: center; margin-bottom: 40px; cursor: pointer; }
.deck-window .card-item > div h4 { margin: 15px 0 0; font-size: 20px; line-height: 28px; }
.deck-window .card-item > div a { position: relative; margin-right: 0px; line-height: initial; border: none; border-radius: 0; padding: 0; }
.deck-window .card-item > div a .img-holder { display: block; overflow: hidden; position: relative; }
.deck-window .card-item > div a .img-holder img { transform: scale(1.1, 1.1); transition: all .9s ease; width: 100%; }
.deck-window .card-item > div a .img-holder .overlay-style-one { transition: all 500ms ease;  }
.deck-window .card-item > div a .img-holder .overlay-style-one .iocn-holder span:before { font-size: 25px; font-weight: 100; color: #ffffff; }
.deck-window .card-item > div:last-child { margin-right: 0px; }
.deck-window .card-item > div:hover a .img-holder img { transform: scale(1.2, 1.2); }

.deck-window .card-item > div.active a .img-holder .overlay-style-one,
.deck-window .card-item > div:hover a .img-holder .overlay-style-one { filter: alpha(opacity=100); opacity: 1; top: 0; }
.deck-window .card-item > div.active a, 
.deck-window .card-item > div.active a:hover { color: #555; cursor: default; background-color: #FFFFFF; border: none; border-bottom-color: none; }

/* Overwrites */
.btn { border-radius: 50px; padding-left: 30px; padding-right: 30px; }
.btn-primary { background-color: #8b0f4b; border-color: #8b0f4b; }
.btn-primary:hover { background-color: #6c757d; border-color: #6c757d; }
.btn-secondary:hover { background-color: #8b0f4b; border-color: #8b0f4b; }

.form-control { border-color: #8b0f4b; border-radius: 3px; }

/* Animations */
@keyframes beating {
	0%		{ box-shadow: 0 0 0  5px rgba(184, 31 ,104, 0.2); }
	25% 	{ box-shadow: 0 0 0 10px rgba(184, 31 ,104, 0.2); }
	50% 	{ box-shadow: 0 0 0  5px rgba(184, 31 ,104, 0.2); }
	75% 	{ box-shadow: 0 0 0 10px rgba(184, 31 ,104, 0.2); }
	100% 	{ box-shadow: 0 0 0  5px rgba(184, 31 ,104, 0.2); }
}

@keyframes glowing {
	0%		{ box-shadow: 0 0 0  5px rgba(255, 255 ,255, 0.2); }
	25% 	{ box-shadow: 0 0 0 10px rgba(255, 255 ,255, 0.2); }
	50% 	{ box-shadow: 0 0 0  5px rgba(255, 255 ,255, 0.2); }
	75% 	{ box-shadow: 0 0 0 10px rgba(255, 255 ,255, 0.2); }
	100% 	{ box-shadow: 0 0 0  5px rgba(255, 255 ,255, 0.2); }
}